@import url(reset.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: transparent !important;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  line-height: 1.5;
  font-style: normal;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, system-ui,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  max-width: 210mm;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Pretendard Variable", "Pretendard", Roboto, -apple-system,
    BlinkMacSystemFont, system-ui, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a,
button {
  /* color: rgba(255, 255, 255, 0.50); */
  text-decoration: none;
  transition: all 0.215s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
