/* global custom css set-up */

@import url(reset.css);
@import url(global.css);

/* NOTE : 프린트 최적화 설정 및 */
@media print {
  /* 전체 페이지를 A4 크기에 맞춤 */
  body {
    width: 210mm; /* A4 너비 */
    height: 297mm; /* A4 높이 */
    margin: 0 auto; /* 중앙 정렬 */
  }

  /* 헤더, 푸터, 네비게이션 등 불필요한 요소 완전삭제 클래스 */
  .no-print {
    display: none !important;
  }

  /* 페이지 브레이크 설정 (각 섹션이 잘리지 않도록) */
  .page-break {
    page-break-before: always; /* 특정 섹션 전에 강제 페이지 나눔 */
  }

  /* TODO 기본 불필요한 웹 스타일링 제거 ? */
  /* * {
    background: none !important;
    box-shadow: none !important;
  } */
}
